body {	
background: white;

}

a {
	color: coral;
	text-decoration: none;
}

a:visited{
	color:tomato;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

p{
padding-top: 10px;
padding-bottom: 10px;
}

header, main, footer {
min-width: 855px;
padding: 20px 20px 10px 10px;
margin-top: 10px;
}

header .container, main .container, footer .container {
max-width: 855px;
margin: auto;
}

header {
background: white;
overflow: auto;
}

h1 {
float: left;
width: 570px;
font-family: 'Ubuntu', sans-serif;
font-size: 2.5em;

}


h2,h3,h4 {
font-family: 'Ubuntu', sans-serif;
padding-bottom: 10px;
font-size: 1.5em;
}

header nav {
float: right;
width: 285px;
font-family: 'Open Sans', sans-serif;

}

main {
overflow: auto;
background: white;
font-family: 'Open Sans', sans-serif;
min-height: 700px;

}

main .content {
	float: left;
	width: 570px;
}
main .lightbulb {
	float: right;
	width: 285px;
}

footer {
	font-family: 'Open Sans', sans-serif;
	overflow: auto;
	padding: 20px 20px;
	min-height: 100px;
	max-height: 100px;
	background: #f9e933;

}

footer .contact {
		float: left;
	width: 570px;
}

footer .sitemap {
		float: right;
	width: 285px;
}