body {	
background: #f9e933;
font-size: 100%;
}
header, main, footer {
min-width: 855px;
}
header .container, main .container, footer .container {
max-width: 855px;
margin: auto;
}
header {
background: white;
overflow: auto;
}
header h1 {
float: left;
width: 570px;
font-family: 'Ubuntu', sans-serif;
font-size: 100%;
}
header h2,h3,h4 {
font-family: 'Ubuntu', sans-serif;
font-size: 100%;
	}
header nav {
float: right;
width: 285px;
font-family: 'Open Sans', sans-serif;
font-size: 100%;
}

main {
overflow: auto;
background: white;
font-family: 'Open Sans', sans-serif;
font-size: 100%;
}

main .content {
	float: left;
	width: 570px;
}
main .lightbulb {
	float: right;
	width: 285px;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	overflow: auto;
}

footer .contact {
		float: left;
	width: 570px;
}

footer .sitemap {
		float: right;
	width: 285px;
}