/* Тело страницы */
body {
background: lightcyan; /* Цвет фона */
width: 800px;  /* Ширина */
margin: auto; /* Величина отступа от каждого края элемента */
}
/* Все заголовки страницы */
h1 {
color: maroon;
text-align: center; /* Определяет горизонтальное выравнивание текста в пределах элемента.*/
}
/* Все абзацы страницы*/
p {
color: gray;
border: 1px solid gray; /* Универсальное свойство border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента. */
padding: 10px; /* Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое (рис. 1). */
}